<h2>Pets</h2>

<div>
  <button type="button" class="add-button" (click)="add()">
    Adicionar Pet
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let tutor of tutors" class="tutor-item">
    <span class="badge">{{ tutor.id }}</span> {{ tutor.name }}

    <span class="button-group">
      <button type="button" class="update" title="Atualizar Tutor"
        (click)="update(tutor)">Atualizar
      </button>

      <button type="button" class="delete" title="Deletar Tutor"
        (click)="delete(tutor)">Deletar
      </button>
    </span>
  </li>
</ul>

