<div class="wrapper">
  <div class="app-container">
    <div class="header">
      <div class="logo">{{ title }}</div>
    </div>

    <nav class="switch-buttons">
      <button routerLink="/pets" routerLinkActive="active">Pets</button>
      <button routerLink="/tutors" routerLinkActive="active">Tutores</button>
      <button routerLink="/appointments" routerLinkActive="active">Agendamentos</button>
    </nav>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-messages></app-messages>
  </div>
</div>
