/* MessagesComponent's private CSS styles */

h2 {
  color: #A80000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.clear {
  color: white;
  background-color: #e07048;
  margin-bottom: 20px;
  padding: 10px 18px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.clear:hover {
  background-color: #a8583e;
}
